body {
    background-color: lightblue;
    
  }

.topnav {
    border: #fc68d7;
    border-width: 3px;
    background-color: #cccccc;
    overflow: hidden;
  }
.topnav a {
    float: left;
    display: block;
    color: #040000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 26px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
.topnav a:hover {
    background-color: rgb(14, 247, 22);
    color: black;
  }
.topnav a.active {
    background-color: #fc68d7;
    color: white;
  }
.topnav .icon {
    display: none;
  }
.dropdown {
    position: relative;
    display: inline-block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {display:block;}
.content {
    padding: 14px;
    font-size: 22px;
  }
@media screen and (max-width: 800px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
      display: none;
    }
    /* Show the icon that should open and close the topnav*/
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 800px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }